@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Sorts+Mill+Goudy&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0px;
}

.ct-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("./img/header.jpg");
    background-position: center;
    background-position-y: 50rem;
    max-width: 1200px;
    width: 100%;
    height: 370px;
    margin: 0.5em 0em 0.5em 0em;
}

.ct-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.2em 1.2em 0.6em 1.2em;
}

.it-first-one {
    display: flex;
    justify-content: center;
}

.img-logo {
    width: 5em;
}

.it-first-two {
    display: flex;
    width: 80%;
}

.it-first-three {
    display: flex;
    justify-content: center;
    width: 12%;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    width: 13%;
    font-family: 'Roboto', sans-serif;
    color: #808080;
    list-style: none;
    margin-left: 5%;
    cursor: pointer;
}

.nav-buttons:hover,
.fa-facebook-square:hover,
.fa-twitter:hover {
    filter: invert(64%) sepia(40%) saturate(568%) hue-rotate(327deg) brightness(102%) contrast(91%);
}

.txt-nav {
    margin: 0% 0% 0% 5%;
}

.ct-second {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.15);
    width: 88%;
    height: 37%;
    position: absolute;
    bottom: 0px;
    left: 6%;
}

.it-second-one {
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center;
    font-size: 2rem;
    color: rgba(247, 106, 53, 0.58);
}

main {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-top: 0.5em;
}

.ct-third {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    background-color: #D8D7D7;
    width: 51.5em;
}

.ct-it-third {
    display: flex;
}

.it-third-one {
    display: flex;
    flex-direction: column;
    width: 24em;
    height: 29em;
    background-color: white;
    margin: 0.5em 0.25em 0.5em 0.5em;
    padding: 0.5em;
}

.ct-img-article {
    object-fit: contain;
    overflow: hidden;
    height: 11em;
    width: 24em;
    position: relative;
}

.img-article {
    width: 100%;
}

.txt-date-article {
    font-family: 'Roboto', sans-serif;
    color: #F0E68C;
    position: absolute;
    font-size: 1rem;
    bottom: 0px;
    margin: 0em 0em 0em 0.5em;
}

.ct-txt-title {
    display: flex;
    align-items: end;
    background-color: #F08080;
    width: 100%;
    height: 11%;
    margin: 0.25em 0em 0em 0em;
}

.txt-title-article {
    margin: 0.25em 0em 0em 0em;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    padding: 0em 0em 0em .25em;
    margin: 0px;
}

.txt-article {
    font-family: 'Roboto', sans-serif;
    column-count: 2;
    color: #808080;
    font-size: 1rem;
}

.a-article {
    color: gray;
    text-decoration: none;
}

.it-third-two {
    display: flex;
    flex-direction: column;
    width: 24em;
    height: 29em;
    background-color: white;
    margin: 0.5em 0.5em 0.5em 0.25em;
    padding: 0.5em;
}

.it-third-three {
    width: 51em;
    margin: 0em 0.5em 0.5em 0.5em;
}

.txt-article-bottom {
    text-align: center;
    margin: 0em;
}

.ct-fourth {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
    margin: 0em;
    background-color: #D8D7D7;
}

.it-fourth-one {
    width: 15.5em;
    margin: 1.2em 1.2em 0.3em 1.2em;
}

.txt-title-aside {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    margin: 0em;
}

.txt-aside {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.it-fourth-two {
    width: 15.5em;
    margin: 0.3em 1.2em 1.2em 1.2em;
}

footer {
    background-color: #F5F1F1;
    max-width: 1200px;
    width: 100%;
    margin: 0.5em 0em 0.5em 0em;
}

.ct-fifth {
    padding: 0.6em;
    border-left: 0.5em solid #D8D7D7;
    border-right: 0.5em solid #D8D7D7;
}

.txt-footer {
    margin: 0em;
    text-align: center;
    color: #808080;
}

@media only screen and (max-width: 992px) {
    body {
        justify-content: start;
    }
    header,
    main,
    footer {
        max-width: 768px;
    }
    main {
        background-color: yellow;
        flex-direction: column;
    }
    .it-first-two {
        margin: 0em 1.2em;
    }
    .ct-third {
        width: 48em;
        justify-content: center;
    }
    .it-third-one,
    .it-third-two {
        width: 21em;
    }
    .ct-img-article {
        width: 21rem;
        height: 8rem;
    }
    .it-third-three,
    .it-fourth-one,
    .it-fourth-two {
        width: 14.5em;
    }
    .ct-fourth {
        height: auto;
        margin: 0em 1.2em 1.2em 1.2em;
    }
}

@media only screen and (max-width: 576px) {
    body {
        justify-content: start;
    }
    header,
    main,
    footer {
        max-width: 245px;
    }
    .nav-buttons {
        flex-direction: column;
        font-size: 0.5rem;
        align-items: center;
    }
    .ct-first {
        flex-direction: column;
    }
    .it-first-two {
        width: 12em;
        padding: 0em;
        margin: 0.5em;
    }
    .ct-third {
        width: 15.5em;
    }
    .ct-it-third {
        flex-direction: column;
        padding-top: 1.2em;
    }
    .it-third-one,
    .it-third-two {
        width: 12em;
        margin: 0em 1.2em 1.2em 1.2em;
    }
    .ct-img-article {
        width: 12rem;
        height: 8rem;
    }
    .txt-title-article {
        font-size: 1.2rem;
    }
    .txt-article {
        font-size: 0.7rem;
    }
    .it-third-three,
    .it-fourth-one,
    .it-fourth-two {
        width: 14em;
    }
}